---
layout: post
title: "Employment Verification"
tags:
 -
---

Some companies ask for your W-2 or most recent pay stub at some point during the job offer negotiation process. Why? What for? Here are some articles.

Screenshot of such a requirement: [twitter](https://twitter.com/compiledwrong/status/715995265895964672)

* [employmentlawdaily](http://www.employmentlawdaily.com/index.php/2012/06/01/weigh-your-risks-before-asking-job-applicants-for-* w-2s-or-tax-returns/)
* [sfgate](http://www.sfgate.com/business/networth/article/Employers-asking-job-seekers-for-W-2-or-tax-return-3530180.php)
* [careersherpa](http://careersherpa.net/would-you-provide-your-w-2/)
* [thelawdictionary](http://thelawdictionary.org/article/legal-ability-of-a-potential-employer-to-verify-salary-history/)
* [salary.com](http://www.salary.com/should-i-show-a-prospective-employer-my-pay-stub/)
* [zenefits](https://www.zenefits.com/answers/is-it-ok-to-request-w2s-from-an-employee-to-verify-their-income-before-extending-them* -a-job-offer/)
* [payscale.com](http://www.payscale.com/career-news/2015/07/prospective-employers-asking-for-w-2-forms-a-cover-for-discrimination-* )
* [proformative](https://www.proformative.com/questions/requesting-copies-w-2-candidate-extending-offer)


From TW (unofficial): "We use them to get a balance on what the market actually looks like in addition to the companies we use externally for the market data is what I understand."
